*{
	margin:0;
	background-color: black;
}

header{
	background-color: black
}

ul{
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

li a:hover {
  background-color: #111;
}
li a:last-child {
	padding-right: 40px;
}

main{
	margin-top: 250px;
	width: 59%;
	margin-right:20%; 
	margin-left:20%;
	
	min-height: 299px;
}
#controller{
	width: 19%;
	padding-right:40%; 
	padding-left:40%;
	padding-bottom: 30px; 
}

#small-title{
	color:white;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	text-align: center;
}
#big-title{
	color:white;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Amatic SC', cursive;
	font-size: 70px;
	text-align: center;
}

#gaming-btn{
	padding-top: 30px;
	width: 19%;
	padding-left:42%;
	padding-right: 40%; 
}

#gaming{
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color:white;
  font-size: 20px;
  padding: 10px 30px;
  border:1px solid white;
  border-radius: 5px;
}